In [29]:
import numpy as np
import pandas as pd

In [45]:
from numpy.random import randn

In [31]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [37]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [21]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [39]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [41]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [47]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [50]:
df

             A         B
G1 1 -1.444430 -1.223569
   2  0.292763 -0.349154
   3 -1.189680 -0.233015
G2 1 -1.930874 -1.112814
   2 -0.760756  0.111540
   3  1.596801  0.713959

In [58]:
df.loc['G1'].iloc[1]

A    0.292763
B   -0.349154
Name: 2, dtype: float64

In [54]:
df['A']

G1  1   -1.444430
    2    0.292763
    3   -1.189680
G2  1   -1.930874
    2   -0.760756
    3    1.596801
Name: A, dtype: float64

In [66]:
df.index.names = ['Group', 'S/N']

In [68]:
df

                  A         B
Group S/N
G1    1   -1.444430 -1.223569
      2    0.292763 -0.349154
      3   -1.189680 -0.233015
G2    1   -1.930874 -1.112814
      2   -0.760756  0.111540
      3    1.596801  0.713959

In [78]:
df.loc['G2'].loc[2]['B']

0.11153976038485632

In [86]:
df.loc['G1'].loc[2].loc['B']

-0.34915379414720454

In [88]:
df.loc['G1']

            A         B
S/N
1   -1.444430 -1.223569
2    0.292763 -0.349154
3   -1.189680 -0.233015

In [92]:
df.xs('G1')

            A         B
S/N
1   -1.444430 -1.223569
2    0.292763 -0.349154
3   -1.189680 -0.233015

In [100]:
df.xs(1,level='S/N')

              A         B
Group
G1    -1.444430 -1.223569
G2    -1.930874 -1.112814

In [102]:
df

                  A         B
Group S/N
G1    1   -1.444430 -1.223569
      2    0.292763 -0.349154
      3   -1.189680 -0.233015
G2    1   -1.930874 -1.112814
      2   -0.760756  0.111540
      3    1.596801  0.713959