In [2]:
import numpy as np
import pandas as pd

In [4]:
d = {'A' :[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[1,2,3]}

In [30]:
df = pd.DataFrame(d)

In [32]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [40]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [42]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [44]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [52]:
df.fillna(value='FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [58]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64